@import "mixinfonts";

// My styles
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/files/backdrop.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 85vw;
    height: 90vh;
    border: 2px solid black;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;

    #logo {
        @include general-bold;
        font-size: 24px;
        background: -webkit-linear-gradient(45deg, #B182FF, #8310C9, #5315D9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #search-box {
        display: flex;
        align-items: center;
        width: 30%;
        height: 50px;
        background-color: #B182FF;
        border-radius: 10px;
        img {
            margin-left: 5px;
            width: 30px;
            height: 30px;
        }
    }
}