@import "mixinfonts";

// My styles
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Styling the scrollbar

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #8310C9;
}

::-webkit-scrollbar-thumb:hover {
    background: #030303;
}

// Styling the body

body {
    background-image: url(/files/backdrop.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#container {
    width: 89vw;
    height: 90vh;
    margin-top: 3rem;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    #logo {
        @include general-bold;
        font-size: 24px;
        background: -webkit-linear-gradient(45deg, #B182FF, #8310C9, #5315D9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            background: -webkit-linear-gradient(45deg, #000000, #000000, #000000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    #search-box {
        display: flex;
        align-items: center;
        width: 30%;
        height: 50px;
        background-color: white;
        border: 3px solid #f5f5f5;
        border-radius: 10px;

        img {
            margin-left: 5px;
            width: 30px;
            height: 30px;
        }

        input {
            width: 100%;
            height: 100%;
            border: none;
            margin-left: 8px;
            background-color: transparent;
            @include general-medium;
            font-size: 18px;
            color: rgb(99, 97, 97);
            outline: none;
        }

        &:focus-within {
            box-shadow: -1px 2px 19px -5px rgba(209, 208, 208, 0.75);
        }
    }

    #nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        @include general-semibold;
        font-size: 18px;
        color: #0F1D40;

        a {
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: #B182FF;
            }
        }

        .wallet {
            background: -webkit-linear-gradient(#B182FF, #981ce6, #5315D9);
            color: white;
            padding: 10px 20px;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
                background: #000000;
                color: white;
            }
        }
    }

    #ham {
        display: none;
        justify-content: space-between;
        align-items: baseline;
        gap: 1.5rem;

        img {
            cursor: pointer;
            width: 40px;
            filter: invert(15%) sepia(79%) saturate(5088%) hue-rotate(259deg) brightness(81%) contrast(114%);

            &:hover {
                filter: invert(0%) sepia(93%) saturate(30%) hue-rotate(156deg) brightness(103%) contrast(108%);
            }
        }
    }
}

#banner {
    margin-top: 5rem;
    display: flex;
    height: 70vh;
    justify-content: space-between;
    align-items: flex-end;
    gap: 8rem;
}

#text-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    height: 100%;
    width: 46%;
    margin-left: 3rem;

    #big-text {
        @include general-semibold;
        font-size: 70px;
        color: #2e2e30;
        width: 35rem
    }

    #small-text {
        @include general-medium;
        font-size: 15px;
        color: #49536E;
        width: 29rem;
    }

    #bot {
        @include general-semibold;
        display: flex;
        gap: 2rem;
        margin-bottom: 5rem;
    }

    button {
        background: -webkit-linear-gradient(#B182FF, #981ce6, #5315D9);
        color: white;
        padding: 15px;
        border-radius: 15px;
        border: none;
        outline: none;
        @include general-semibold;
        cursor: pointer;

        &:hover {
            background: black;
            color: white;
        }
    }

    #play {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            color: rgb(63, 63, 63);
        }
    }

}

#nft-section {
    width: 37%;

    .nft {
        width: 26rem;

        &:hover {
            transform: rotate(1deg);
            transition: all 0.9s ease;
        }
    }

    #countdown {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -7rem;
        left: 3.5rem;
        width: 19.9rem;
        @include general-semibold;
        transform: rotate(-4deg);
    }

    #time {
        line-height: 25px;

        #beep {
            font-size: 18px;
            color: #313132;
        }

        #rem-time {
            color: #B3B3B3;
            font-size: 13px;
        }
    }

    #bid {
        line-height: 25px;

        #cost {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 7px;
            color: #313132;
            font-size: 18px;

            &:hover {
                transform: translateY(-5px);
                transition: 1s ease;
            }
        }

        #highest-bid {
            color: #B3B3B3;
            font-size: 13px;
        }
    }


}

// Style for navbar display in smaller screens
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}


#nav-res {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -40vw;
    background-color: #f5f5f5;
    transition: all 0.5s ease;
    height: 100%;
    width: 0;
    padding: 1rem;
    z-index: 99;
    @include general-semibold;
    font-size: 18px;

    img {
        cursor: pointer;
        width: 40px;
        filter: invert(15%) sepia(79%) saturate(5088%) hue-rotate(259deg) brightness(81%) contrast(114%);

        &:hover {
            filter: invert(0%) sepia(93%) saturate(30%) hue-rotate(156deg) brightness(103%) contrast(108%);
        }
    }

    #search-box-side {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: white;
        border: 3px solid #f5f5f5;
        border-radius: 10px;

        img {
            margin-left: 5px;
            width: 30px;
            height: 30px;
        }

        input {
            width: 100%;
            height: 100%;
            border: none;
            margin-left: 8px;
            background-color: transparent;
            @include general-medium;
            font-size: 18px;
            color: rgb(99, 97, 97);
            outline: none;
        }

        &:focus-within {
            box-shadow: -1px 2px 19px -5px rgba(209, 208, 208, 0.75);
        }
    }

    #nav-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;

        .link {
            text-decoration: none;
            color: #0F1D40;
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 10px;
            }

            &:hover {
                color: #B182FF;
            }
        }

        .wallet {
            background: -webkit-linear-gradient(#B182FF, #981ce6, #5315D9);
            color: white;
            padding: 10px 20px;
            border-radius: 15px;
            width: 11rem;

            &:hover {
                background: #000000;
                color: white;
            }
        }
    }
}

// MEDIA QUERIES

// Media query for 1110px screen size

@media screen and (max-width: 1110px) {

    #container {
        margin-top: 3rem;
        height: 100%;
        width: 90vw;
    }

    header {
        #search-box {
            width: 50%;
        }

        #nav {
            display: none;
        }

        #ham {
            display: flex;
            justify-content: space-between;
        }
    }

    #banner {
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 2rem;
    }

    #text-banner {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0;

        #big-text {
            text-align: center;
        }

        #small-text {
            text-align: center;
        }
    }

    #nft-section {
        width: auto;
    }

}

// Media query for 800px screen size
@media screen and (max-width: 800px) {
    #nav-res {
        #nav-side {
            background-color: #0F1D40;
            height: 100%;
            .wallet {
                width: 100%;
                justify-content: center;
                align-self: flex-end;
            }
        }
    }
}

// Media query for 600px screen size

@media screen and (max-width: 600px) {
    #container {
        margin-top: 1rem;
    }

    header {
        position: relative;
        justify-content: space-between;

        #search-box {
            position: absolute;
            width: 90vw;
            top: 3rem;
            height: 3rem;
            left: 50%;
            transform: translate(-50%);

            img {
                width: 25px;
                filter: invert(15%) sepia(79%) saturate(5088%) hue-rotate(259deg) brightness(81%) contrast(114%);

                &:hover {
                    filter: invert(0%) sepia(93%) saturate(30%) hue-rotate(156deg) brightness(103%) contrast(108%);
                }
            }

            input {
                font-size: 15px;
            }
        }

        #ham {
            img {
                width: 35px;
            }
        }
    }

    #banner {
        margin-top: 5rem;
    }

    #text-banner {
        width: 100%;

        #big-text {
            font-size: 40px;
            width: 20rem;
        }

        #small-text {
            font-size: 13px;
            width: 19rem;
        }

        button {
            padding: 10px;
        }

        #play {
            font-size: 14px;
        }
    }

    #nft-section {

        .nft {
            width: 18rem;
        }

        #countdown {
            top: -5rem;
            left: 2.8rem;
            width: 13.5rem;
            transform: rotate(-4deg);
        }

        #time {
            line-height: 20px;

            #beep {
                font-size: 14px;
            }

            #rem-time {
                font-size: 10px;
            }
        }

        #bid {
            line-height: 20px;

            #cost {
                gap: 7px;
                font-size: 14px;

                img {
                    width: 15px;
                }
            }

            #highest-bid {
                font-size: 10px;
            }
        }
    }

}