@import "mixinfonts";

// My styles
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/files/backdrop.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 89vw;
    height: 90vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    #logo {
        @include general-bold;
        font-size: 24px;
        background: -webkit-linear-gradient(45deg, #B182FF, #8310C9, #5315D9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            background: -webkit-linear-gradient(45deg, #000000, #000000, #000000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    #search-box {
        display: flex;
        align-items: center;
        width: 30%;
        height: 50px;
        background-color: white;
        border: 3px solid #f5f5f5;
        border-radius: 10px;

        img {
            margin-left: 5px;
            width: 30px;
            height: 30px;
        }

        input {
            width: 100%;
            height: 100%;
            border: none;
            margin-left: 8px;
            background-color: transparent;
            @include general-medium;
            font-size: 18px;
            color: rgb(99, 97, 97);
            outline: none;
        }
    }

    #nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        @include general-semibold;
        font-size: 18px;
        color: #0F1D40;

        a {
            text-decoration: none;

            &:hover {
                color: #B182FF;
            }
        }

        .wallet {
            background: -webkit-linear-gradient(#B182FF, #981ce6, #5315D9);
            color: white;
            padding: 10px 20px;
            border-radius: 15px;

            &:hover {
                background: #000000;
                color: white;
            }
        }
    }

    #ham {
        display: none;
        justify-content: space-between;
        gap: 1.5rem;

        .ham {
            img {
                width: 40px;
                filter: invert(15%) sepia(79%) saturate(5088%) hue-rotate(259deg) brightness(81%) contrast(114%);

                &:hover {
                    filter: invert(0%) sepia(93%) saturate(30%) hue-rotate(156deg) brightness(103%) contrast(108%);
                }
            }
        }
    }
}

#banner {
    margin-top: 5rem;
    display: flex;
    height: 70vh;
    justify-content: space-between;
    align-items: flex-end;
    gap: 8rem;
}

#text-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    height: 70%;
    width: 55%;
    margin-left: 4rem;

    #big-text {
        @include general-semibold;
        font-size: 70px;
        color: #49536E;
    }

    #small-text {
        @include general-medium;
        font-size: 15px;
        color: #49536E;
        width: 70%;
    }

    #bot {
        @include general-semibold;
        display: flex;
        gap: 2rem;
        margin-bottom: 5rem;
    }

    button {
        background: -webkit-linear-gradient(#B182FF, #981ce6, #5315D9);
        color: white;
        padding: 15px;
        border-radius: 15px;
        border: none;
        outline: none;
        @include general-semibold;
        cursor: pointer;

        &:hover {
            background: black;
            color: white;
        }
    }

    #play {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            color: rgb(63, 63, 63);
        }
    }
}

#nft-section {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.border1 {
    height: 32rem;
}

.border2 {
    height: 32rem;
    transform: scaleX(-1);
    position: relative;
    top: -32rem;
}

.nft {
    height: 22rem;
    position: relative;
    top: -62.8rem;
    left: 1.3rem;
    transform: rotate(1deg);

    &:hover {
        transform: scale(1.02);
        transition: 2s ease-in-out;
    }
}

#countdown {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -61rem;
    left: 3rem;
    width: 21rem;
    @include general-semibold;
    transform: rotate(-3deg);
}

#time {
    line-height: 25px;

    #beep {
        font-size: 18px;
        color: #313132;
    }

    #rem-time {
        color: #B3B3B3;
        font-size: 13px;
    }
}

#bid {
    line-height: 25px;

    #cost {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 7px;
        color: #313132;
        font-size: 18px;

        &:hover {
            transform: translateY(-5px);
            transition: 1s ease;
        }
    }

    #highest-bid {
        color: #B3B3B3;
        font-size: 13px;
    }
}

@media screen and (max-width: 1330px) {
    #banner {
        gap: 1rem;
        width: 100%;
    }

    #text-banner {
        #big-text {
            font-size: 5vw;
        }

        #small-text {
            font-size: 14px;
        }

        #bot {
            margin-bottom: 8rem;
        }
    }

    .border1 {
        height: 28rem;
    }

    .border2 {
        height: 28rem;
        top: -28rem;
    }

    .nft {
        height: 19rem;
        top: -55rem;
        left: 1.3rem;
    }

    #countdown {
        top: -53.5rem;
        left: 3rem;
        width: 18rem;
    }

}

@media screen and (max-width: 1110px) {
    body {
        height: 100%;
    }

    #container {
        margin-top: 3rem;
        height: 100%;
        width: 90vw;
    }

    header {
        #search-box {
            width: 50%;
        }

        #nav {
            display: none;
        }

        #ham {
            display: flex;
            justify-content: space-between;
        }
    }

    #banner {
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70rem;
    }

    #text-banner {
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-left: 0;

        #big-text {
            text-align: center;
        }

        #small-text {
            text-align: center;
        }
    }

    #nft-section {
        width: 50%;
        left: 50%;
        transform: translate(10%);
    }

}

@media screen and (max-width: 815px) {
    #nft-section {
        width: 70%;
        left: 50%;
        transform: translate(10%);
    }

    .border1 {
        height: 25rem;
    }

    .border2 {
        height: 25rem;
        top: -25rem;
    }

    .nft {
        height: 18rem;
        top: -49rem;
        left: 0.6rem;
    }

    #countdown {
        top: -48rem;
        left: 2rem;
        width: 17rem;
    }
}

@media screen and (max-width: 600px) {
    header {
        position: relative;
        justify-content: space-between;

        #search-box {
            position: absolute;
            width: 80vw;
            top: 3rem;
            height: 3rem;
            left: 50%;
            transform: translate(-50%);

            img {
                filter: invert(15%) sepia(79%) saturate(5088%) hue-rotate(259deg) brightness(81%) contrast(114%);

                &:hover {
                    filter: invert(0%) sepia(93%) saturate(30%) hue-rotate(156deg) brightness(103%) contrast(108%);
                }
            }
        }
    }

    #text-banner {
        #bot {
            margin-bottom: 3rem;
        }
    }
    #nft-section {
        width: 80%;
        left: 50%;
        transform: translate(10%);
    }
}

@media screen and (max-width: 490px) {
    #container {
        margin-top: 1.5rem;
    }

    header {
        #ham {
            .ham {
                img {
                    width: 30px;
                }
            }
        }
    }

    #banner {
        width: 100%;
        height: auto;
    }

    #text-banner {
        margin-top: 2rem;
        margin-left: 0;
        width: 100%;

        #big-text {
            font-size: 40px;
        }

        #small-text {
            font-size: 14px;
        }

        button {
            padding: 10px;
        }

        #play {
            font-size: 13px;

            img {
                width: 30px;
            }
        }
    }

    #nft-section {
        width: 100%;
        height: 30rem;
    }

    .border1 {
        height: 25rem;
    }

    .border2 {
        height: 25rem;
        top: -25rem;
    }

    .nft {
        height: 18rem;
        top: -49rem;
        left: 0.6rem;
    }

    #countdown {
        top: -48rem;
        left: 2rem;
        width: 17rem;
    }

    #time {
        line-height: 25px;

        #beep {
            font-size: 15px;
        }

        #rem-time {
            font-size: 11px;
        }
    }

    #bid {
        line-height: 25px;

        #cost {
            font-size: 15px;
        }

        #highest-bid {
            color: #B3B3B3;
            font-size: 11px;
        }
    }

}